* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    background-color: #88d1d0;
}

body {
    background-color: #88d1d0;
    font-size: 4vw;
}

@media (min-width: 400px) {
    body {
        font-size: 3vw;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 1vw;
    }
}

button {
    background: none;
}

.page-sort-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 8px 0px;
}

.search-bar-container {
    display: flex;
    flex: 1 1 0;
    margin-top: 2px;
}

.search-bar-icon-container {
    padding: 4px;
    background-color: #e4bfb7;
    border-radius: 5px 0 0 5px;
}

.search-bar-icon {
    color: #104d7a;
}

.search-bar {
    padding: 4px;
    margin-right: 6px;
    border-radius: 0 5px 5px 0;
}

.page-container {
    display: flex;
    margin-top: 2px;
}

.page-button {
    width: 25px;
    padding: 4px;
    margin: 0 1px 0 1px;
    background-color: #e4bfb7;
    border-radius: 5px;
    text-align: center;
    color: #104d7a;
}

    .page-button:disabled {
        width: 25px;
        padding: 4px;
        margin: 0 1px 0 1px;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
        color: darkgray;
    }

.page-display {
    width: 25px;
    padding: 4px;
    margin: 0 1px 0 1px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: #104d7a;
    font-weight: bold;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 2px;
    padding: 4px 0 4px 0;
    background-color: white;
    border-radius: 5px;
}

.header-button {
    display: flex;
    flex: 1 1 0;
    padding: 4px;
    text-align: left;
    word-break: break-word;
    align-items: center;
    color: #104d7a;
}

.header-sort-label {
    font-weight: bold;
}

.header-sort-icon-container {
    flex: 1 1 0;
    padding-left: 4px;
    text-align: left;
}

.header-sort-icon {
    height: 100%;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-item {
    padding: 4px 0 4px 0;
    margin-bottom: 2px;
    background-color: white;
    border-radius: 5px;
}

.list-item-drop-button {
    width: 100%;
    text-align: right;
}

.list-cell-container {
    display: flex;
}

.list-cell {
    flex: 1 1 0;
    padding: 4px;
    text-align: left;
    word-break: break-word;
}

.list-cell-with-icon {
    display: flex;
    flex: 1 1 0;
    padding: 4px;
    text-align: left;
    word-break: break-word;
}

.list-item-drop-button-icon {
    flex: 1 1 0;
    text-align: right;
    color: #104d7a;
}

.nested-info-container {
    display: flex;
    border-top: 1px solid black;
}

.nested-info-label {
    padding: 4px;
    color: #104d7a;
    border-right: 1px solid black;
    font-weight: bold;
}

.nested-info-data-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
}